include mixins/bytes
include mixins/cog

- stats = collection.stats;
- stats.document_size_average = (stats.document_size/stats.document_count);
- stats.index_size_per_document = (stats.index_size/stats.document_count);


.row(style="margin-bottom: 40px;")
  .col-md-6
    h1 #{collection.name}
    h2: a(href="#database/#{collection.database}") #{collection.database}

  .col-md-3
    h3 Documents
    ul.list-unstyled
      li #{collection.stats.document_count}
      li
        +bytes(collection.stats.document_size)

      //- li.list-group-item
      //-   span.badge
      //-     +bytes(collection.stats.extent_last_size)
      //-   | Last Extent

      //- li.list-group-item
      //-   span.badge #{collection.stats.extent_count}
      //-   | Extents

      //- li.list-group-item
      //-   span.badge #{collection.stats.padding_factor}
      //-   | Padding Factor
  .col-md-3
    h3 Indexes
    ul.list-unstyled
      each index in collection.indexes
        li #{index.name}
          +bytes(index.size)
.row
  .col-md-12
    .explorer
