include mixins/bytes

mixin instance_detail()
  - build = instance.build
  - host = instance.host
  .col-md-6
    dl.dl-horizontal
      dt Operating System
      dd #{host.os}
      dt RAM
      dd: +bytes(host.memory_bits)
      dt CPU Cores
      dd #{host.cpu_cores_physical}
      dt CPU Details
      dd #{host.cpu_string}
      dt System Clock
      dd #{host.system_time}

  .col-md-6
    dl.dl-horizontal
      dt MongoDB
      dd #{build.version}
      dt Architecture
      dd #{host.cpu_bits}bit
      dt Debugging
      dd #{build.debug ? 'on' : 'off'}
      dt JavaScript
      dd #{build.javascript_engine}
      dt Allocator
      dd #{build.allocator}

if deployment.type === 'standalone'
  //- ol.breadcrumb
  //-   li.active #{instance.id}

  h1.page-header #{instance.id}
  +instance_detail()
else
  h1 #{instance.id}
  h2 #{deployment.id}
  h3 #{deployment.type}

  +instance_detail()
