include mixins/bytes

- instance = context.instance
- deployment = context.deployment
- moment = require('moment')

mixin panel(title)
  .panel.panel-default
    .panel-heading: .panel-title #{title}
    .panel-body
      block

mixin deet(key)
  tr
    td.key #{key}
    td.value.small
      block

mixin log_panel()
  .panel.panel-default
    .panel-heading
      .pull-right
        //- i.fa.fa-long-arrow-up.fa-fw
        //- | newest on top
        i.fa.fa-long-arrow-down.fa-fw
        | oldest on top
      .panel-title Log
    .panel-body
      .log-container

mixin ops_panel()
  .panel.panel-default
    .panel-heading: .panel-title operations
    .panel-body: .ops

mixin instance_detail()
  - build = instance.build
  - host = instance.host

  .panel.panel-default
    .panel-heading
      //- .pull-right
      //-   a(href='#copy').btn.btn-default.btn-xs
      //-     i.fa.fa-files-o.fa-fw
      .panel-title Instance
    .panel-body
      table.table
        +deet('Hostname')
          | #{instance.id}
        +deet('MongoDB')
          | #{build.version}
        +deet('Deployment')
          | #{deployment.type}
        +deet('Instance')
          | #{instance.type || 'mongod'}

        if instance.state
          +deet('State') #{instance.state}

        +deet('Platform')
          | #{host.os} #{host.cpu_bits}bit
        +deet('Real RAM')
          +bytes(host.memory_bits)
        +deet('CPU Detail')
          | #{host.cpu_string}
        +deet('Host Time')
          | #{host.system_time}

mixin maybe_sharded_alert()
    if deployment.maybe_sharded && deployment.type !== 'cluster'
      .alert.alert-warning.row(style='margin-top: 31px;')
        .col-md-3
          p.lead
            i.fa.fa-exclamation-triangle.fa-fw(style="padding-right: 10px")
            | Check yourself!
          p
            a.btn.btn-default(href='#connect', style='color: #FFF;') Connect to a router
        .col-md-4
          p &nbsp;
          p It seems you've connected directly to a shard but not through a router.
          p You may not be getting the full picture of your deployment!

        .col-md-4.col-md-push-1
          h4 Help
          ul
            li.strong
              a(href='http://docs.mongodb.org/manual/reference/mongos/', style='color: #FFF;text-decoration: underline;', target='_blank') How do you find the router?
            li.strong
              a(href='http://www.mongodb.org/display/DOCS/Configuring+Sharding', style='color: #FFF;text-decoration: underline;', target='_blank') Configuring Sharding

ol.breadcrumb
  unless context.deployment.type === 'standalone'
    li: a(href='#mongodb/#{context.deployment_id}') #{context.deployment.name}
  li #{context.instance.name}

.content
    if deployment.maybe_sharded && deployment.type !== 'cluster'
      +maybe_sharded_alert()

    .col-md-12
      if deployment.type === 'standalone'
        h1.page-header #{instance.name}
      else
        h1.page-header #{deployment.name}
          p.lead.subtle via #{instance.name}

    .col-md-6
      //- @todo: if router, should balancer/lock event stream?
      if instance.type !== 'router'
        +ops_panel()
    .col-md-6
      +instance_detail()



    if !instance.type && (deployment.type === 'cluster' || deployment.type === 'replicaset')
        .col-md-6
          +panel('Replication')
            .replication
        .col-md-6
          +panel('Instances')
            .instances
      .col-md-12
        +log_panel()
