include mixins/bytes

- instance = context.instance
- deployment = context.deployment

mixin panel(title)
  .panel.panel-default
    .panel-heading: h3.panel-title #{title}
    .panel-body
      block

mixin instance_detail()
  - build = instance.build
  - host = instance.host

  +panel('System')
    dl.dl-horizontal
      if deployment.type !== 'standalone'
        dt Connected To
        dd #{instance.id}
      dt MongoDB
      dd #{build.version}
      dt Operating System
      dd #{host.os}
      dt RAM
      dd: +bytes(host.memory_bits)
      dt Architecture
      dd #{host.cpu_bits}bit
      dt Cores
      dd #{host.cpu_cores_physical}
      dt Details
      dd #{host.cpu_string}
      dt System Clock
      dd #{host.system_time}

if deployment.type === 'standalone'
  h1.page-header #{instance.id}
  .row
    .col-md-6
      +panel('Databases')
        .list-group
          each db in instance.database_names
            a.list-group-item(href="#database/#{db}") #{db}

    .col-md-6
      +instance_detail()

  .row
    .col-md-12
      +panel('Log')

else
  h1.page-header #{deployment.name}
    p.lead #{instance.name}

  .row
    .col-md-6
      +panel('Databases')
        .list-group
          each db in instance.database_names
            a.list-group-item(href="#database/#{db}") #{db}
    .col-md-6
      +instance_detail()

if deployment.shards
  each shard in deployment.shards
    .row
      +panel('Shard: ' + shard.name)
        .col-md-6
          .list-group
          each inst in shard.instances
            a.list-group-item(href="#") #{inst.name}
        .col-md-6
          .shard-summary(data-shard='#{shard.name}')
            p DONUT

if deployment.routers
  .row
    +panel('Routers')
      .col-md-6
        .list-group
        each inst in deployment.routers
          a.list-group-item(href="#") #{inst.name}
      .col-md-6
        .router-summary
