include mixins/bytes

mixin instance_detail()
  - build = instance.build
  - host = instance.host
  .col-md-6
    .panel.panel-default
      .panel-heading: h3.panel-title Instance Details
      .panel-body
        dl.dl-horizontal
          dt MongoDB
          dd #{build.version}
          dt Operating System
          dd #{host.os}
          dt RAM
          dd: +bytes(host.memory_bits)
          dt Architecture
          dd #{host.cpu_bits}bit
          dt Cores
          dd #{host.cpu_cores_physical}
          dt Details
          dd #{host.cpu_string}
          dt System Clock
          dd #{host.system_time}

if deployment.type === 'standalone'
  //- ol.breadcrumb
  //-   li.active #{instance.id}

  h1.page-header #{instance.id}
  +instance_detail()

  .col-md-6
    .panel.panel-default
      .panel-heading: h3.panel-title Databases
      .panel-body
        ul.list-group
          each db in instance.database_names
            li.list-group-item
              span.badge -
              a(href="#") #{db}


else
  h1 #{instance.id}
  h2 #{deployment.id}
  h3 #{deployment.type}

  +instance_detail()
