include mixins/bytes

- instance = context.instance
- deployment = context.deployment

mixin panel(title)
  .panel.panel-default
    .panel-heading: .panel-title #{title}
    .panel-body
      block

mixin navpanel(title)
  .panel.panel-default
    .panel-heading: .panel-title #{title}
    .list-group
      block

mixin splitpanel(title)
  .panel.panel-default
    .panel-heading: .panel-title #{title}
    block

mixin deet(key)
  tr
    td.small(style='padding-left: 0;') #{key}
    td(style='background-color: #f5f5f5;')
      block

mixin log_panel()
  .panel.panel-default
    .panel-heading
      .pull-right
        i.fa.fa-long-arrow-up.fa-fw
        | newest on top
      .panel-title Log
    .panel-body
      .log-container

mixin instance_detail()
  - build = instance.build
  - host = instance.host

  +panel('Server')
    table.table
      +deet('Hostname')
        | #{instance.id}
      +deet('MongoDB')
        | #{build.version}
      +deet('Deployment')
        | #{deployment.type}
      +deet('Instance')
        | #{instance.type || 'mongod'}

      if instance.state
        +deet('State') #{instance.state}

      +deet('Platform')
        | #{host.os} #{host.cpu_bits}bit
      +deet('Real RAM')
        +bytes(host.memory_bits)
      +deet('CPU Detail')
        | #{host.cpu_string}
      +deet('Host Time')
        | #{host.system_time}

ol.breadcrumb
  unless context.deployment.type === 'standalone'
    li: a(href='#home') #{context.deployment.name}
  li #{context.instance.id}

if deployment.type === 'standalone'
  h1.page-header #{instance.name}
  .row
    .col-md-6
      +navpanel('Databases')
        each db in instance.database_names
          a.list-group-item(href="#database/#{db}")
            .pull-left: i.fa.fa-angle-right.fa-fw
            .list-group-item-heading #{db}

    .col-md-6
      +instance_detail()

else
  h1.page-header #{deployment.name}
      p.lead.subtle via #{instance.name}

    .row
      .col-md-6
        +navpanel('Databases')
          each db in instance.database_names
            a.list-group-item(href="#database/#{db}")
              .pull-left: i.fa.fa-angle-right.fa-fw
              .list-group-item-heading #{db}
      .col-md-6
        +instance_detail()

  if deployment.type === 'cluster'
    hr
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading: .panel-title cluster instances
          .list-group
            .list-group-header(style='display: none;')
              .icon.fa-search
              input(placeholder='filter instances')
            .list-group-body
              .list-group-label routers
              each instance in deployment.routers
                a.list-group-item(href="#connect/#{deployment.id}/#{instance.id}")
                  .pull-left: i.fa.fa-angle-right.fa-fw
                  .list-group-item-heading #{instance.name}
              .list-group-label configs
              each instance in deployment.configs
                a.list-group-item(href="#connect/#{deployment.id}/#{instance.id}")
                  .pull-left: i.fa.fa-angle-right.fa-fw
                  .list-group-item-heading #{instance.name}
              each shard in deployment.shards
                .list-group-label shard #{shard.name}
                each instance in shard.instances
                  a.list-group-item(href="#connect/#{deployment.id}/#{instance.id}")
                    .pull-left: i.fa.fa-angle-right.fa-fw
                    .list-group-item-heading #{instance.name}

  if !instance.type
    hr

    if deployment.maybe_sharded && deployment.type !== 'cluster'
      .alert.alert-warning
        .row
          .col-md-3
            p.lead
              i.fa.fa-exclamation-triangle.fa-fw(style="padding-right: 10px")
              | Check yourself!
            p
              a.btn.btn-default(href='#connect', style='color: #FFF;') Connect to a router

          .col-md-4
            p &nbsp;
            p It seems you've connected directly to a shard but not through a router.
            p You may not be getting the full picture of your deployment!

          .col-md-4.col-md-push-1
            h4 Help
            ul
              li.strong
                a(href='http://docs.mongodb.org/manual/reference/mongos/', style='color: #FFF;text-decoration: underline;', target='_blank')
                  | How do you find the router?
              li.strong
                a(href='
http://www.mongodb.org/display/DOCS/Configuring+Sharding', style='color: #FFF;text-decoration: underline;', target='_blank')
                  | Configuring Sharding



    .row
      .col-md-6
        +panel('Replication')
          .replication

      .col-md-6
        +panel('Instances')
          .instances

hr
.row
  .col-md-12
    +log_panel()
