if ops.length === 0
  .panel-body: h4.subtle No current activity
else
  table.table
    thead
      tr
        th.id id
        th.client client
        th.op op
        th.seconds secs
        th.ns ns
        th.query query
    tbody
      each op in ops
        - kls = op.secs_running >= 3 && op.op !== 'getmore' ? 'warning' : ''
        tr(class=kls)
          td.id #{op.opid}
          td.client #{op.client}
          td.op #{op.op}
          td.seconds #{op.secs_running}
          td.ns #{op.ns}
          td.query #{JSON.stringify(op.query)}
