include mixins/bytes

if replication
  .row(style="margin-top: 20px;")
    .col-md-9
      - self = replication.instance
      h1 #{replication._id}

      ul.list-group
        li.list-group-item
          .primary-line #{replication.primary.name}

         - for member in replication.secondaries
          li.list-group-item
            .primary-line #{member.name}
            .secondary-line #{member.state}
            .secondary-line replication lag #{member.lag_replication}ms
            .secondary-line operational lag #{member.lag_operational}ms

         - for member in replication.arbiters
          li.list-group-item
            span.inline-block-tight #{member.name}
            span.inline-block-tight.text-subtle A
            p Operational Lag #{member.lag_operational}ms

    .col-md-3
      h2 oplog
      ul
        li opcount: #{replication.oplog.count}
        li window: #{moment(replication.oplog.window[0]).from(replication.oplog.window[1], true)}
        li collection size
          +bytes(replication.options.size)
        li head:
          pre
            code #{JSON.stringify(replication.oplog.head)}
        li tail:
          pre
            code #{JSON.stringify(replication.oplog.tail)}

else
  .row
    .col-md-6.col-md-push-3
      .panel.panel-default
        .panel-body.well
          :markdown
            #### Replication

            `#{instance.name}` is not a member of a replicaset.

            ```
            @todo just disable in toolbar if !instance.get('rs')?
            ```
