mixin cells(namespaces)
  each ns in namespaces
    .ns-column
      .column #{deltas[ns + '.total.count'] || 0}
      //- .column #{deltas[ns + '.read.count'] || '-'}
      .column #{deltas[ns + '.read.count'] || 0}
      .column #{deltas[ns + '.write.count'] || 0}
      .column #{deltas[ns + '.lock.count'] || 0}

mixin row(namespaces)
  .matrix-row
    +cells(namespaces)
    - d = new Date()
    .date #{d.getHours()}:#{d.getMinutes()}:#{d.getSeconds()}

if update === true
  +row(namespaces)
else
  .row
    .col-md-8
      .top-matrix
        .header
         - for ns in namespaces
          .ns
            .label #{ns}
            .header-column
              div
                span &nbsp;
            .header-column
              div
                span ops
            .header-column
              div
                span read
            .header-column
              div
                span write
            .header-column
              div
                span locks
        .body
          +row(namespaces)
