include ../mixins/bytes

#host-picker.dropdown.pull-right
  ul.dropdown-menu
    each deployment in all
      li.dropdown-group
        if deployment.type != 'standalone'
          .dropdown-group-label #{deployment.id}

        ul
         - each instance in deployment.instances
          li(class=context.instance_id === instance.id ? 'active' : '')
            a(href='#connect/#{deployment.id}/#{instance.id}')
              | #{instance.id}
              .secondary #{instance.type}
      li.divider
    li
      a(title='connect to another deployment', href='#connect')
        | Connect to Deployment&hellip;

  a.btn.inline-block(data-toggle="dropdown", data-target="#host-picker")
    .inline-block-tight.btn-label #{context.instance_id}
    b.caret
