include ../mixins/bytes

if instance && instance.host && instance.build
  - build = instance.build
  - host = instance.host

  #host-picker.dropdown.pull-right
    ul.dropdown-menu
      li.active
        a #{host.hostname}
      li.divider
      li
        .host-info.panel.padded
          .block
            .inline-block
              h4 #{host.hostname}
          .block
            .inline-block #{build.version} #{build.commit.substr(0, 8)}
          .block
            .inline-block.label(class="#{host.cpu_bits === 64 ? 'text-success' : 'text-warning'}") #{host.cpu_bits}bit
            .label(class="#{build.debug === false ? 'text-success' : 'text-warning'}")
              | debug #{build.debug ? 'on' : 'off'}
            .label(class="#{build.javascript_engine === 'V8' ? 'text-success' : 'text-warning'}")
              | #{build.javascript_engine}
            .label(class="#{build.allocator === 'tcmalloc' ? 'text-success' : 'text-warning'}")
              | #{build.allocator}
            .label.text-success boost #{build.boost_version}
            .label(class="#{build.openssl_version ? 'text-success' : 'text-warning'}")
              | openssl #{build.openssl_version || 'N/A'}

          hr
          .block
            .inline-block #{host.os}
            .inline-block
              +bytes(host.memory_bits)
            .inline-block #{host.cpu_cores_physical} Cores
          .block
            div.inline-block #{host.cpu_string}
            div.inline-block #{host.system_time}
              span.glyphicon.glyphicon-time(style="font-size: 80%; left: 4px;")

    a.btn.inline-block(data-toggle="dropdown", data-target="#host-picker")
      .inline-block-tight.btn-label #{host.hostname}
      b.caret
else
  #host-picker.dropdown.pull-right
    ul.dropdown-menu
      li.active
        a -
      li.divider
      li
        .host-info.panel

    a.btn.inline-block(data-toggle="dropdown", data-target="#host-picker")
      .inline-block-tight.btn-label -
      b.caret
