//- .inline-block
//-   h2 #{user.username}
//-   h4 #{user.database}

.block
  h3.padded Roles
  .panel-bottom.padded
    each role in user.roles
      a.btn.inline-block(href="#security/roles/#{role.db}/#{role.role}") #{role.db}.#{role.role}

.block
  h3.padded Action
  .panel-bottom
    each grant in user.inheritedPrivileges
      .block
        - hidden = {}

        if grant.resource.cluster
          h3.padded: code: span cluster wide
        else
          h3.padded: code: span #{grant.resource.db || '<any database>'}.#{grant.resource.collection || '*'}
        div(style="display: flex;flex-flow: row wrap;flex-direction: row;")
          each action in grant.actions
            - act = ACTIONS[action]
            - if(act && act.level === 0) hidden[action] = 1
            if act
              if act.level === 1
                div(style="flex: auto; width: 50%;").padded
                  .inline-block.highlight.text-smaller #{action}
                  p #{act.description}
              if act.level === 2
                div(style="flex: auto; width: 50%;").padded
                  .inline-block.highlight-info.text-smaller #{action}
                  p #{act.description}
              if act.level === 3
               div(style="flex: auto; width: 50%;").padded
                  .inline-block.highlight-warning.text-smaller #{action}
                  p #{act.description}

          - hiddenActions = Object.keys(hidden)
          if hiddenActions.length > 0
               div(style="flex: auto; width: 50%;").padded
                h4.text-subtle.text-smaller #{hiddenActions.length} hidden
                each action in hiddenActions
                  span.text-subtle.inline-block #{action}

