//- .inline-block
//-   h2 #{user.username}
//-   h4 #{user.database}

mixin blurb(action, defs, hidden)
  - if(!defs[action]) defs[action] = {level: 1, description: '@todo'}
  - if(defs[action].level === 0) return hidden[action] = 1;
  dl
    dt #{action}
    dd #{defs[action].description}

mixin resourceMessage(resource)
  - hidden = {}
  - ns = ''
  - message = ''
  - if(resource.collection && resource.db){
  -   ns = resource.db + '.' + resource.collection;
  -   message = 'On ' + ns;
  - } else {
  -   if(!resource.collection){
  -     message += 'On any collection';
  -   } else {
  -      message += 'On the ' + resource.collection + ' collection';
  -   }
  -   if(!resource.db){
  -     message += ' in any database:';
  -   } else {
  -     message += ' in the ' + resource.db + ' database:';
  -   }
  - }
  | #{message}

mixin grantBox(grant)
  - hidden = {}
  .bordered.panel
    .panel-heading
      +resourceMessage(grant.resource)

    .panel-body.padded.grid.thirds
       each action in grant.actions
        +blurb(action, ACTIONS, hidden)

    .panel-footer.padded(style="#{Object.keys(hidden).length === 0 ? 'display: none' : ''}")
      a.pop.subtle(data-toggle="popover", data-placement="top",
        data-title="low priority actions"
        data-content="#{Object.keys(hidden).join('\n')}") #{Object.keys(hidden).length} low priority

.padded
  .inline-block roles
  each role in user.roles
    a.inline-block(href="#security/roles/#{role.db}/#{role.role}") #{role.db}.#{role.role}

div
  each grant in user.inheritedPrivileges
    +grantBox(grant)
