include ../mixins/security


.row(style="margin-bottom: 40px")
  .col-md-4
    h2 #{user.username}
    h3.text-subtle #{user.database}
  .col-md-8
    .btn-group.h3
      each role in user.roles
        a.btn.btn-default(href="#security/roles/#{role.db}/#{role.role}")
            span.btn-icon.glyphicon.glyphicon-folder-open
            | #{role.role}

.row: .col-md-12
  each grant in user.grants
    +security_grantBox(grant)
