include mixins/bytes
include mixins/cog

- stats = collection.stats;
- stats.object_size_average = (stats.object_size/stats.object_count);
- stats.index_size_per_object = (stats.index_size/stats.object_count);

.row
  .col-md-8
    h1(style="margin-bottom: 0;") #{collection.name}
    h3(style="margin-bottom: 0; margin-top: 0;")
      a(href="#database/#{collection.database}") #{collection.database}

    .collection-creek.mms

    hr

    .table-responsive(style="opacity: 0.3")
      table.table(style="border: 1px solid #dddddd;")
        thead
          tr
            th _id
            th page
            th delta
            th comment

        tbody
          tr
            td 1394477260230
            td User talk:Walter Görlitz
            td 361
            td /* Murdoch Mysteries */ new section
          tr
            td 1394477261207
            td ARA Hercules (D-1)
            td 102
            td create and redirect
          tr
            td 1394477263011
            td User talk:81.156.170.145
            td 870
            td Caution: Unconstructive editing on [[Pine]]. ([[WP:TW|TW]])
          tr
            td 1394477263015
            td User talk:Polypompholyx
            td 1
            td /* 2014 Science Communication project */
          tr
            td 1394477263118
            td Hydropower in the Mekong River Basin
            td 0
            td /* Planned hydropower infrastructure in Vietnam */
          tr
            td 1394477263292
            td Bryan Clarke
            td 36
            td details of apostatic selection
          tr
            td 1394477263367
            td Lee Selby
            td 33
            td adding birth template to infobox using [[Project:AWB|AWB]]
          tr
            td 1394477278138
            td Mukachevo (air base)
            td 44
            td Link "see also"
          tr
            td 1394477279055
            td Netherlands in the Eurovision Song Contest
            td 6
            td /* Contestants */
          tr
            td 1394477279591
            td Blu-ray Disc
            td 71
            td Add hd and 1080 to lede
    div(style="position:absolute;width: 100%;")
      a.btn.btn-primary.btn-lg(style="margin-left: 30%;margin-top: -50%;")
        span.glyphicon.glyphicon-list-alt
        | &nbsp;Explore Documents

  .col-md-4
    .panel.panel-default
      .panel-heading
        h3 Documents
      ul.list-group.panel-body
        li.list-group-item
          span.badge #{collection.stats.object_count}
          strong Total
        li.list-group-item
          span.badge
            +bytes(collection.stats.object_size)
          strong Size
        li.list-group-item
          span.badge
            +bytes(stats.object_size_average)
          strong Average Size
      .panel-heading
        h3 Indexes
        //- h4
        //-   +bytes(collection.stats.index_size)
        //- h4
        //-   +bytes(stats.index_size_per_object)
        //-   | per

      ul.list-group.panel-body
       - for index in collection.indexes
        li.list-group-item
          span.badge
            +bytes(index.size)
          code #{JSON.stringify(index.key)}
      .panel-heading
        h4 Advanced
      ul.list-group.panel-body
        li.list-group-item
          span.badge
            +bytes(collection.stats.extent_last_size)
          strong Last Extent Size

        li.list-group-item
          span.badge #{collection.stats.extent_count}
          strong Extents

        li.list-group-item
          span.badge #{collection.stats.padding_factor}
          strong Padding Factor

