include mixins/bytes

- stats = database.stats
- stats.extent_used_size = stats.document_size + stats.index_size
- stats.extent_free_size = stats.storage_size - stats.extent_used_size
- stats.extent_size = stats.storage_size / stats.extent_count
- host.disk_used = host.disk_total - host.disk_free

.row
  .block.col-md-3
    .panel.tool-panel.padded
      h2.padded #{database.name}
      .stats.padded
        div #{stats.index_count} indexes
        div #{stats.document_count} documents

  .col-md-9
    .row
      .col-md-12
        .graph
    .row
      .col-md-6
        .panel.bordered
          .panel-heading collections
          .panel-bottom.bordered
              for collection_name in database.collection_names
                a.padded.text-highlight(href='#collection/#{database.name}/#{collection_name}') #{collection_name}


      .col-md-6
        .panel.tool-panel.bordered
          .panel-heading.bordered storage
          .panel-bottom.bordered
            .panel-body.donut.list-item

