include mixins/bytes

- stats = database.stats
- stats.extent_used_size = stats.document_size + stats.index_size
- stats.extent_free_size = stats.storage_size - stats.extent_used_size
- stats.extent_size = stats.storage_size / stats.extent_count
- host.disk_used = host.disk_total - host.disk_free

.row
  .databases.col-md-12
    a
      .collection-creek
      .name #{database.name}
      ul.stats
        li #{stats.index_count} indexes
        li #{stats.document_count} docs

.row(style="margin-top: 40px;")
  .col-md-6
    .inset-panel
      .panel-heading collections
      .panel-bottom.padded
        ul.list-group
          for collection_name in database.collection_names
            a.list-group-item(href='collection/#{database.name}/#{collection_name}') #{collection_name}


  .col-md-6
    .inset-panel
      .panel-heading storage
      .panel-bottom.padded
        .panel-body.donut

