include mixins/cog
include mixins/bytes

mixin health_bar(build)
  ul.list-inline
    li(class="#{instance.host.cpu_bits === 64 ? 'text-success' : 'text-warning'}") #{instance.host.cpu_bits}bit
    li(class="#{build.debug === false ? 'text-success' : 'text-warning'}")
      | debug #{build.debug ? 'on' : 'off'}
    li(class="#{build.javascript_engine === 'V8' ? 'text-success' : 'text-warning'}")
      | #{build.javascript_engine}
    li(class="#{build.allocator === 'tcmalloc' ? 'text-success' : 'text-warning'}")
      | #{build.allocator}
    li.label.text-success boost #{build.boost_version}

    li(class="#{build.openssl_version ? 'text-success' : 'text-warning'}")
      | openssl #{build.openssl_version || 'N/A'}

if instance.database_names.length === 0
.row
  .col-md-6.col-md-push-3
    .panel.panel-default
      .panel-body.well
        :markdown
          #### Welcome to mongoscope!

          It appears you don't have any databases on this instance.

          To get started, open a new terminal window and copy and paste:

          ```
          mongo --eval \
          "db.rating.save( \
            {_id:'mongoscope', votes:[{you: 100}]})"
          ```

      img.leafy(src="img/leafy-anim.gif", style="height: 70px; float: right;")
      div(style="float: right; margin-top: 25px; text-align: right;")
        | create a database to continue.
        br
        | the leaf has it under control while you do.

else
.row
  .databases.col-md-8
   - for database_name in instance.database_names
    a(href='#database/#{database_name}')
      .graph
      span.name #{database_name}
      ul.stats
        li 8 colls
        li 27 indexes
        li 120 gb

  .col-md-4
    h3(style="font-size: 12px; font-weight: normal; color: lightgray;font-variant: small-caps;")
      a(style="font-size: 200%;" href=instance.build.commit_url, title="View commit #{instance.build.commit.substr(0, 8)} on github") #{instance.build.version}
    +health_bar(instance.build)

    ul.list-inline
      li #{instance.host.os}
      li
        +bytes(instance.host.memory_bits)
      li #{instance.host.cpu_cores_physical} Cores

    ul.list-inline(style="margin: 0")
      li(style="font-weight: normal;font-size: 12px !important;") #{instance.host.cpu_string}
    ul.list-inline(style="margin: 0;")
      li(style="font-weight: normal;font-size: 12px !important;") #{instance.host.system_time}
        span.glyphicon.glyphicon-time(style="font-size: 80%; left: 4px;")
    ul.list-inline(style="margin: 0;")
      li(style="font-weight: normal;font-size: 12px !important;") #{instance.host.hostname}
