if instance.replicaset
  .row(style="margin-top: 20px;")
    .col-md-9
      - self = instance.replicaset.instance
      h1 #{instance.replicaset._id}
      .weld-item
        .name(style="padding: 10px;")
          span.h2 #{self.name}
          if self.isPrimary
            span.label.label-success Primary
          else if self.isSecondary
            span.label.label-default Secondary
          else if self.isArbiter
            span.label.label-default Arbiter


      ul.list-group
       - for member in instance.replicaset.secondaries
        li.list-group-item
          h4 #{member.name}
          span.label.label-default Secondary
          p #{member.state}
          p Replication Lag #{member.lag_replication}ms

    .col-md-3
      ul.list-group
       - for member in instance.replicaset.arbiters
        li.list-group-item
          h4 #{member.name}
          span.label.label-default Arbiter
          p Operational Lag #{member.lag_operational}ms

else
  .row
    .col-md-6.col-md-push-3
      .panel.panel-default
        .panel-body.well
          :markdown
            #### Replication

            This instance is not a member of a replicaset.

            ```
            @todo what to run to join a replicaset
            ```
