if users.length === 0
  include funnel/01-setup-auth
else

  .row.security
    .col-md-3.tool-panel(style="margin-left: 0;padding-right: 0px;padding: 0;")
      .overlay.select-list(style="margin: 0;position: relative; width: 100%;left: 0; height: 100%;")
        h2 Security
        .list-group(style="max-height: 100%")
          li.list-divider Users
          each user in users
            a.list-item(href="#security/users/#{user.db}/#{user.user}")
              | #{user.user} (#{user.db || 'ANY'})
          li.list-divider Roles
          each role in roles
            a.list-item(href="#security/roles/#{role.db}/#{role.role}")
              | #{role.role} (#{role.db || 'ANY'})

    .col-md-9.details
