if users.length === 0
  include funnel/01-setup-auth
else

  .row
    .col-md-6(style="padding-right: 0px;")
      .overlay.select-list
        .list-group
         - for user in users
          a.two-lines(href="#security/users/#{user.db}/#{user.user}")
            .primary-line #{user.user} (#{user.db || 'ANY'})
            .secondary-line #{JSON.stringify(user.roles)}
         - for user in users
          a.two-lines.selected(href="#security/users/#{user.db}/#{user.user}")
            .primary-line #{user.user} (#{user.db || 'ANY'})
            .secondary-line #{JSON.stringify(user.roles)}
         - for role in roles
          a.two-lines(href="#security/roles/#{role.db}/#{role.role}")
            .primary-line #{role.role} (#{role.db || 'ANY'})
            .secondary-line blah.

    .col-md-6.details.list-group.list-group-item(style="border-left: 0px;")
