mixin cells(namespaces)
  each ns in namespaces
    .top-matrix-body-row-column #{deltas[ns + '.total.count']}
    .top-matrix-body-row-column #{deltas[ns + '.read.count'] || '-'}
    .top-matrix-body-row-column #{deltas[ns + '.insert.count']}
    .top-matrix-body-row-column #{deltas[ns + '.lock.time']}µs

mixin row(namespaces)
  .top-matrix-body-row
    +cells(namespaces)
    - d = new Date()
    .top-matrix-body-row-date #{d.getHours()}:#{d.getMinutes()}:#{d.getSeconds()}

if update === true
  +row(namespaces)
else
  .row
    .col-md-8
      .top-matrix
        .top-matrix-header
          .top-matrix-header-column
            div
              span &nbsp;
         - for ns in namespaces
          .top-matrix-header-column
            div
              span #{ns} ops
          .top-matrix-header-column
            div
              span #{ns} reads
          .top-matrix-header-column
            div
              span #{ns} inserts
          .top-matrix-header-column
            div
              span #{ns} µs lock
        .top-matrix-body
          +row(namespaces)
