h2 top

.row
 - for ns, i in namespaces
  .col-md-4(id='creek-#{i}')


table.grid.table.table-condensed.table-hover
  thead
    tr
      th &nbsp;
      th #total/#lock
      th lock time
      th #readlock/#writelock
      th #read/#write
      th #insert/#update
  tbody
   - for ns in namespaces
    tr
      td #{ns}
      td #{deltas[ns + '.total.count']}/#{deltas[ns + '.lock.count']}
      td #{deltas[ns + '.lock.time']}µs
      td #{deltas[ns + '.readlock.count']}/#{deltas[ns + '.writelock.count']}
      td #{deltas[ns + '.read.count']}/#{deltas[ns + '.write.count']}
      td #{deltas[ns + '.insert.count']}/#{deltas[ns + '.update.count']}
