if users.length === 0
  include ../funnel/01-setup-auth
else

  .row.security
    .sidebar.col-md-3
      .list-group
        .list-divider Users
        each user in users
          a.list-group-item(href="#security/users/#{user.db}/#{user.user}")
            | #{user.user} (#{user.db || 'ANY'})
      .list-group
        .list-divider Roles
        each role in roles
          a.list-group-item(href="#security/roles/#{role.db}/#{role.role}")
            | #{role.role} (#{role.db || 'ANY'})

    .col-md-9.details
