.col-md-12(style='padding-left: 60px;')
  h2: a(href='#database/#{database.name}') #{database.name}

- stats = database.stats || {}

mixin stat(name)
  | #{stats[name] || '-'}

.col-md-12
  .col-md-4
    .stats.clearfix
      .col-xs-3
        .stat-value(data-stat="collection_count")
          +stat('collection_count')
        .stat-label collections
      .col-xs-3
        .stat-value(data-stat="index_count")
          +stat('index_count')
        .stat-label indexes
      .col-xs-3
        .stat-value(data-stat="document_count")
          +stat('document_count')
        .stat-label docs
      .col-xs-3
        .metric-value -
        .metric-label
          a.inline-block(data-toggle="dropdown", href="#", data-target="#dropdown-#{cid}")
            span.metric-name #{metric}
          .dropdown(id='dropdown-#{cid}')
            ul.dropdown-menu
              li.active
                a #{metric}
              li
                a(href='#') read.time
              li
                a(href='#') read.count
              li
                a(href='#') write.time
              li
                a(href='#') write.count


  .col-md-8
    .graph(id='graph-#{cid}')

