ol.breadcrumb
  unless context.deployment.type === 'standalone'
    li: a(href='#mongodb/#{context.deployment.id}') #{context.deployment.name}
  li: a(href='#mongodb/#{context.instance.id}') #{context.instance.name}
  li: a(href='##{context.instance.id}/database/#{database.name}') #{database.name}
  li Create Collection

.content
  h1.page-header Create a Collection

  form.form
    .form-group
      input.form-control(style="background: transparent;",
        placeholder='name', name='write.0.args.1', value='service_requests')
      input(type='hidden', value='mongodb://', name='write.0.args.0')
      input(type='hidden', value='mongo', name='write.0.name')

    .form-group
      select.form-control(style="background: transparent;", name="read.0.name")
        option(value='url') url
        option(value='mongo') mongodb collection
        option(value='file') file

      input.form-control(style="background: transparent;",
        placeholder='', name="read.0.args.0", value="https://secure.toronto.ca/webwizard/ws/requests.json?start_date=2012-02-01T00:00:00Z&end_date=2012-02-07T00:00:00Z&jurisdiction_id=toronto.ca")
    .form-group.transforms
      ul.list-group
        //- li.list-group-item(href='#') gzipped
        //-   input.pull-right(type='checkbox', name='transform.gunzip')
        li.list-group-item(href='#') json
          input(placeholder='docs', value='service_requests', name='transform.fromJSON.args.0')
          input.pull-right(type='checkbox', name='transform.fromJSON')
        li.list-group-item(href='#') comma separated values
          input.pull-right(type='checkbox', name='transform.csv')
        li.list-group-item(href='#') tab separated values
          input.pull-right(type='checkbox', name='transform.tsv')
    button.btn.btn-primary(type='submit') Create
    button.btn.btn-default.cancel Cancel

