
//- .btn-group
//-   a.btn.btn-default
//-     span.glyphicon.glyphicon-list-alt
//-   a.btn.btn-default
//-     span.glyphicon.glyphicon-align-center
//-   a.btn.btn-default
//-     span.glyphicon.glyphicon-asterisk
//- @todo: a nice datagrid perhaps?
//- http://exacttarget.github.io/fuelux/#datagrid
.pull-right(style='margin-right: 10px;')
  .small(style='display: inline-block; text-align: center; margin-top: 10px; margin-right:10px;') #{skip} - #{skip+samples.length}

  .btn-group
    a.btn.btn-default.previous
      i.fa.fa-backward.fa-fw
    a.btn.btn-default.next
      i.fa.fa-forward.fa-fw


table.table.small.table-condensed.table-responsive(style='max-width: 100%; overflow-x: auto;')
  thead
    tr
    for key in schema.keys
      th #{key}
  tfoot
    tr
      td(colspan="#{schema.keys.length}")
  tbody
  each doc, i in samples
    tr(data-index='#{i}')
     - for key in schema.keys
      td
        if typeof doc[key] === 'object'
          | {&hellip;}
        else
          | #{doc[key]}
