include ../mixins/bytes
include ../mixins/cog
include ../mixins/nf

- stats = collection.stats;
- stats.document_size_average = (stats.document_size/stats.document_count);
- stats.index_size_per_document = (stats.index_size/stats.document_count);

ol.breadcrumb
  unless context.deployment.type === 'standalone'
    li: a(href='#home') #{context.deployment.id}
  li: a(href='#home') #{context.instance.id}
  li: a(href='#database/#{collection.database}') #{collection.database}
  li #{collection.name}

.row
  .col-md-12
    h1.page-header #{collection.database}.#{collection.name}
      ul.list-unstyled.list-inline.lead
        li
          +nf(collection.stats.document_count)
        li
          +bytes(collection.stats.document_size)
        li.subtle.small documents

  //- .col-md-3
  //-   h3 Indexes
  //-   ul.list-unstyled
  //-     each index in collection.indexes
  //-       li #{index.name}
  //-         +bytes(index.size)
.row
  .col-md-12
    .explorer

.row
  .col-md-12
    .detail
