include ../mixins/bytes

- stats = database.stats
- stats.extent_used_size = stats.document_size + stats.index_size
- stats.extent_free_size = stats.storage_size - stats.extent_used_size
- stats.extent_size = stats.storage_size / stats.extent_count
//- - host.disk_used = host.disk_total - host.disk_free

ol.breadcrumb
  //- unless context.deployment.type === 'standalone'
  //-   li: a(href='#home') #{context.deployment.id}

  li
    a(href='#home') #{context.instance.id}
  li database: #{database.name}

.row: .col-md-12: .databases
  .summary

.row
  .col-md-4
    .panel.panel-default
      .panel-heading: h3.panel-title Collections
      .panel-body
        .list-group
          for collection_name in database.collection_names
            a.list-group-item(href='#collection/#{database.name}/#{collection_name}') #{collection_name}

  .col-md-4
    .panel.panel-default
      .panel-heading: h3.panel-title Storage
      .panel-body
        .donut


  .col-md-4

